
__pycache__/classes.cpython-38.pyc
.idea/vcs.xml
.idea/TinyPIC.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
presentation media
old
*.pyc
.idea/workspace.xml
